<!--                                      S C R O L L     U P    B U T T O N     A D D    O N                                                   -->
<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>
<!--                             L O G O    S T A R T                                         -->
<div class="logo"><a href="#">EON<span>PLAYLIST</span></a></div>

<!--                                              C L O C K    A D D     O N     S E C T I O N                                                   -->
<!--CLOCK START -->
<div class="display">
    <div id="clock"></div>
</div>
<!--                                                       N A V B A R     S E C T I O N                                                          -->
<!--                             L O G O    S T A R T                                         -->
<div class="logo"><a href="#">EON<span>PLAYLIST</span></a></div>
<nav id="navbar" class="navbar">
    <div class="max-width">
        <ul class="menu">
            <li><a href="/" class="menu-btn"><i class=" fas fa-compact-disc "></i> Home </a></li>
            <li><a href="/playlist" class="menu-btn"><i class="fas fa-headphones-alt"></i>PlayList</a></li>



        </ul>



        <div class="menu-btn-burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>




<!--                                                E O N    H O M E     S E C T I O N                                                            -->
<section class="home" id="home">
    <div class="logoImage"> </div>
    <div class="astroImage"> </div>
    <div class="max-width">
        <div class="home-content">
            <div class="text-2">E <span> O </span> N </div>
            <div class="Line-top"></div>
            <div class="text-5"> YOUR <span> PLAYLIST </span> YOUR <span> MUSIC </span> YOUR <span> MINDSET
                </span></div>
            <div class="Line-bottom"></div>
            <div class="text-1"><span> " </span>LIFE IS <span> ONLY </span> AS <span> GOOD </span> AS YOUR <span>
                    MINDSET </span><span> " </span></div>
            <div class="text-0"><span> -- </span> MUSIC <span> LIFE </span> 101 </div>
            <div class="text-3">EXPLORE<span>&</span>DISCOVER</div>
            <div class="text-4"> BY: <span class="textStyle"></span></div>
        </div>
    </div>

    <div class="searchBox">
        <div class="wrapper">
            <div class="search-input">
                <a href="" target="_blank" hidden></a>
                <input id="input" type="text" placeholder="Type to search..">
                <div class="suggest-box">
                    <!-- here list are inserted from javascript -->
                </div>
                <div id="search" class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>
</section>
<section id="songSpace"></section>
<!--                                    P L A Y L I S T    G E N E R A T O R     C A R O S U E L    S E C T I O N                                -->
<section class="playlist-generator" id="#">
    <div class="wrapper">
        <div class="max-width">
            <h2 class="title"> DISCOVER </h2>
            <div class="text-1">WHEN WE SEEK TO DISCOVER NEW PLAYLIST,</div>
            <div class="text-0">WE MANAGE TO BRING OUT SOMETHING NEW IN OURSELVES</div>
            
        </div>
    </div>
</section>

<!--                                               F O O T E R      S E C T I O N                                                                -->
<footer>
    <span> Created & Designed by <a href="#"> </a> | <span class="far fa-copyright"></span> 2020 All rights reserved
    </span>
</footer>