<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>

<!-- LOGO START -->
<div class="logo"><a href="#">EON<span>PLAYLIST</span></a></div>

<!--CLOCK START -->
<div class="display">
    <div id="clock"></div>
</div>

<!-- NAVBAR -->
<nav id="navbar" class="navbar">
    <div class="max-width">
        <!-- NavBar List and List Shortcut: ( ul.menu>li*6>a ) -->
        <ul class="menu">
            <li><a href="/" class="menu-btn"><i class=" fas fa-compact-disc "></i> Home </a></li>
            <li><a href="/playlist" class="menu-btn"><i class="fas fa-headphones-alt"></i>PlayList</a></li>
        </ul>
        <div class="menu-btn-burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>


<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">

        </div>
    </div>
    <div class="container">
    <div class="jumbotron text-center m-3">
        <h1 class="display-4 text-center">New Tracks!</h1>
        <hr class="my-4">
        <div class="row d-flex justify-content-around">
            <div class="col-lg">
            <div class="card">
                <div class="card-header">
                    
                </div>
                <div class="card-body">
                    <ul class="playlist">
                        {{#each searches}}
                            {{> playlist-block}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</section>






            <!-- FOOTER SECTION START -->
            <footer>
                <span> Created & Designed by <a href="#"> </a> | <span class="far fa-copyright"></span>
                    2020
                    All rights reserved </span>
            </footer>