/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/* https://clrs.cc/  */
/* theme colors */
/*Navy-Blue =  #001f3fd3 */
/*Gold =  #d4af37d3  */


/* resets margin and padding on layout */
/* BORDER BACKGROUND */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.max-width {
    max-width: 2000px;
}

.max-height {
    max-height: 100vh;
}

section {
    padding: 10% 10% 10% 10%;
    
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ff00f7ce;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c85fad3;
}

.scroll-up-btn {
    position: fixed;
    height: 9%;
    width: 5%;
    background: none;
    right: 02%;
    bottom: 2%;
    text-align: center;
    color: #d4af37;
    font-size: 760%;
    font-weight: lighter;
    border-radius: 46%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.scroll-up-btn.show {
    bottom: 2%;
    opacity: 1;
    pointer-events: auto;
}

.textStyle {
    text-transform: uppercase;
}

.display #clock {
    display: none;
    position: fixed;
    padding-left: 0%;
    padding-top: 0%;
    line-height: 0%;
    color: #d4af37;
    font-size: 240%;
    font-weight: 900;
    background: none;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-top: 8.2%;
    margin-left: 6.2%;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.display #clock.sticky {
    margin: 5%;
    color: #001f3fd3;
    transform: rotateZ(360deg) rotateX(360deg);
    opacity: 1;
}

li.playlist{ 
    margin: 2%;  
    padding: 5px 5px 5px 5px 
    
}

li.playlist:hover text {
     opacity : 0.7 
     
    }